body {
    max-width:95%;
    margin: auto;
    box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
    height: 75px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS";
}
p{
    font-family: "brush script mt";
    font-size: 15px;
}
.logo {
    width: 15%;
}

header nav {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

header nav a {
    font-size: 18px;
    text-decoration: none;
    text-wrap: nowrap;
    color: black;
    margin: 10px;
    
}
.header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;
}
.search-input {
display: flex;
justify-content: flex-end;


}
.input-field {
    width: 100%;
}
.fa-search {
    position: relative; 
    right: 25px;
    margin:2px;
    color: #DCDCDC;
}

.profil-icon {
    border: 2px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 15px;
}
.main-section {
    background: lightgray;
    margin: 10px 3px;
}

/* MAIN KISMI:*/

.hero-content {
    padding: 20px 15px;
}
.user-ratings span{
    margin-right: 10px;
}
.fa-star {
    color: red;
}
.maturity-rating {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}
.duration {
    font-weight: bold;
}
ul {
    list-style: none;
}
.movie-details {
   padding-left: 0;
}
.red-texts {
    color: red;

}
.bold-texts {
    font-weight: bold;
}
.btn {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    background: red;
    border: 5px solid red;
    max-width:100px;
    max-height: 15px;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bold;
}
.fa-play {
    margin-right: 10px;      
}

/* SECTION KISMI:*/

.suggestion-title {
    color: black;
    display: flex;
    justify-content: space-between;
}
.suggestion-title h4 {
    margin-bottom: 10px;
}
.suggestion-content {
    display: flex;
    justify-content: space-between;
    
}
.suggestion-item {
    border-bottom: 2px solid black;
    border-radius: 10px;
    height: 150px;
    padding: 10px; 
    width: 30%;
    background: #DCDCDC;
  }